.parentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  flex-direction: column;
}

.subDiv {
  width: 75%;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 4px 11px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 11px 14px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 11px 14px 3px rgba(0, 0, 0, 0.75);
}